body {
    
    margin: 0;
    padding: 0;
    width: 100%;
   position: block;
    background-size: 50% 50%;
    background-color: #e3e3e3;
    background-repeat: no-repeat;
   
}

.topnav {
    background-color: #ffff;
    box-shadow: bottom rgba(red, green, blue, 0.3);
    height: 64px;
    width: 100%;
    margin: 0 auto;
    
}

.topnav img {
    position: absolute;
width: 90px;
height: 32px;
left: 50px;
top: 17px;
}

ul {

   margin: 0;
   padding-left: 150px;
   padding-top: 20px;
    
}

ul li {
    list-style: none;
    
    display: inline;
    
    
    
    
    
}

ul li a.topnav-right {
    font-family: 'Oswald', sans-serif; 
    margin-left: 20px;
    height: 30px;
    top: 9px;
    
        


}

ul li a.topnav-right.to2 {
  border: 3px solid #F12711;
  color:#F12711 ;
  padding: 5px;

  
  
  
    }

    ul li a.topnav-right.to1 {
        border: 3px solid #F12711;
        background: linear-gradient(90deg, #F12711 0%, #FD7201 100%);
        color: white ;
        padding: 5px;
        
    }


    .right-align{
        float: right;
        padding-right:  40px;
    }
ul li a {
    text-decoration: none;
font-family: 'Poppins' sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;

padding: 3px;

text-transform: uppercase;
color: black;


}

ul li a:hover {
    color: blueviolet;
    
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
}




.first-col { 
  height: 100vh;
  display: block;
  left: 100;
top: 0;

background: url(../IMG/Rectangle.png) center  no-repeat;
 background-size:100% 100%;
 
}





/*forms side */



.header-title {
    padding-bottom: 20px;
}

.header-title h2 {
    
    font-family: 'Oswald' ;
    font-size: 50px;
    font-weight: 600;
    
}

.header-title p {
font-family: 'poppins';
font-weight: 600;
text-transform: capitalize;
}

    .form-row {
        display: flex;
        
    }

form {
    margin-left: 50px;
    margin-top: 10%;
  display: fixed;
  font-family: 'Poppins', sans-serif;
  width: 60%;
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.form-control  {
    border: 3px solid #000000;
box-sizing: border-box;
background-color: #e3e3e3;
border-radius: 0;

}

.submit-btn {
    width: 100%;
}

input[type=button]{
    
    background: linear-gradient(90deg, #F12711 0%, #FD7201 100%);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
 border: none;
 color: #fff;
 padding-bottom: 30px;
 
}

.left-footer {
    margin: 10%;
    padding-top: 1%;
    padding-right: 10%;
   
    width: 100%;
 bottom: 1rem;
 right: 1%;
}

.left-footer p {
    float: right;
    display: block;
    padding: 14px 16px;
    color: black;
}

.form-text {
    padding-top: 10px;
}

.form-text a {
    color: #F12711;
}


.ride {

    margin-top: 600px;
     width: 100%;
  bottom: 1rem;
  right: 10%;
}

.footer-bottom {
     
 display: inline;
}



.footer-bottom li a {
 float: left;
 display: absolute;
 padding: 14px 16px;
 color: white;

}

.linee {
    border: 1px #fff solid;
    width: 43%;
    margin: 0;
    opacity: 0.6;


}

